.news {

  padding: 0 50px 50px;
}
.news-search {
  display: flex;
  justify-content: center;
}
.news-comments-container {
    display: flex;
    justify-content: center;
}
.news-search-input {
  margin: 30px;
  padding: 10px;
  font-size: 1rem;
  width: 300px;
}

.news-created-comment-confirmed {
  margin-bottom: 10px;
  text-align: center;
  background-color: blanchedalmond;
  width: 300px;
}
.news-created-comment-no-confirmed {
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
  background-color: #ce962d;
}
.none {
  display: none;
}